//Colores//
$headerBColor: #0559519f;
$footerBColor:#bf808083;
$icon-wColor: #82b3609c;
$textosBColor: #f2a6497c;
$fontColor: black;

//Fuentes//
$fontH: 'Shadows Into Light', cursive;
$fontText: 'Montserrat', sans-serif;